RewriteEngine On
RewriteBase /
RewriteRule ^xmldats\.zip$ index.php?module=xml-dats [L]
RewriteRule ^([A-Za-z0-9_-]+)\/?$ index.php?module=$1 [L]
RewriteRule ^([A-Za-z0-9_-]+)/([1-9][0-9]*)/?$ index.php?module=$1&id=$2 [L]
RewriteRule ^disc/([1-9][0-9]*)/edit/?$ index.php?module=editdisc&id=$1 [L]
RewriteRule ^disc/([1-9][0-9]*)(/([A-Za-z0-9_-]+))/?$ index.php?module=disc&id=$1&action=$3 [L]
RewriteRule ^discs-wip/([1-9][0-9]*)/remove/?$ index.php?module=discs-wip&id=$1&action=remove [L]
RewriteRule ^discs/(.*)$ index.php?module=discs&string=$1 [L]
RewriteRule ^newdisc/([^/]+)(/([1-9][0-9]*))?/?$ index.php?module=newdisc&system=$1 [L]
RewriteRule ^guide/([A-Za-z0-9_-]+)/?$ index.php?module=guide&article=$1 [L]
RewriteRule ^cues/no-intro/([A-Za-z0-9_-]+)/? index.php?module=cues&nointro=1&system=$1 [L]
RewriteRule ^list/((have|miss)/)?([^/]+)(/|(/([^/]+)/?))?$ index.php?module=list&type=$2&user=$3&console=$6 [L]
RewriteRule ^datfile/no-intro/(([0-9]+)/)?([A-Za-z0-9_-]+)(/\.zip)?/? index.php?module=datfile&options=$2&console=$3&nointro=1 [L]
RewriteRule ^datfile/(([0-9]+)/)?([A-Za-z0-9_-]+)(/\.zip)?/? index.php?module=datfile&options=$2&console=$3 [L]
RewriteRule ^feeds/([^/]+)/(atom|rss)/?$ index.php?module=feeds&feed=$1&format=$2 [L]
RewriteRule ^rss/([^/]+)/?$ index.php?module=feeds&feed=$1&format=rss [L]